article.content-page section.event_list {


    ul.events {
        display: table;
        width: 100%;

        li.event {
            display: table-row;
            list-style: none;
            text-indent: initial;
            padding: 0;

            &::before {
                display: none;
            }

            &:nth-of-type(odd) {
                background-color: $gray-light;
            }

            a {
                text-decoration: none;
                display: flex;
                color: $gray-dark;
                padding: 15px 0;


                .date,
                .content {
                    display: table-cell;
                }

                .date {
                    width: 13%;
                    text-align: center;
                    border-right: 2px solid $gray5;

                    .month {
                        @include brandon-grotesque-med();
                        font-size: 0.83em;
                        letter-spacing: 0.01em;
                        text-transform: uppercase;
                    }

                    .day {
                        @include brandon-grotesque-bold();
                        font-size: 1.8em;
                        letter-spacing: 0.01em;
                    }
                }

                .content {
                    margin-left: 15px;

                    h2 {
                        font-size: 1.1em;
                        margin: 5px 0 2px;
                    }

                    p {
                        margin: 0;
                        @include garamond-semibold-i();
                        color: $gray4;
                        text-transform: uppercase;
                        font-size: 0.94em;
                        letter-spacing: 0.1em;
                    }

                    .button {
                        display: none;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 767px) {
    article.content-page section.event_list {
        ul.events {
            li.event {
                a {
                    .date {
                        width: 18%;

                        .month {
                            font-size: 0.75em;
                        }

                        .day{
                            font-size: 1.4em;
                        }
                    }
                }
            }
        }
    }
}