body > footer {
    background-color: $gray7;
    width: 100%;
    padding: 20px 0 0;
    color: $white;

    .content {
        max-width: 960px;
        width: 100%;
        margin: 0 auto;

        nav.footer-menu {
            display: flex;
            padding: 40px 0;

            div {
                display: inline-block;
                width: 25%;

                & > ul {

                    li {
                        list-style: none;

                        a {
                            color: $gray-dark;
                            text-decoration: none;

                            &:hover {
                                text-decoration: underline;
                            }


                        }

                        ul {
                            padding: 5px 0 15px;

                            li {
                                padding: 3px 0;

                                a {
                                    font-size: 0.88em;
                                }
                            }
                        }
                    }

                    & > li {


                        & > a {
                            @include brandon-grotesque-med();
                        }
                    }
                }
            }
        }

        .info {
            width: 100%;
            border-top: 1px solid $gray5;
            display: flex;
            padding: 3px 0;

            .logo,
            .text {
                width: 25%;
                display: inline-block;
            }

            .logo {

                a {
                    background-color: transparent;
                    background-image: url("images/web_logo_ji.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 200px;
                    height: 54px;
                    display: block;
                }
            }

            .text {
                padding: 12px 0;

                p {
                    line-height: 1.2em;
                    font-size: 0.88em;
                    text-transform: uppercase;
                }
            }

            .text,
            .text a {
                color: $gray-dark;
                text-decoration: none;
                display: block;
            }
        }
    }
}