body > footer {
    background-color: $gray7;
    padding: 20px 0 0;
    color: $white;

    .content {
        max-width: 960px;
        width: 100%;
        margin: 0 auto;

        nav.footer-menu {
            display: table;
            padding: 40px 0;
            width: 100%;

            div {
                display: inline-block;
                width: 25%;
                vertical-align: top;

                & > ul {

                    li {
                        list-style: none;

                        a {
                            color: $gray-dark;
                            text-decoration: none;

                            &:hover {
                                text-decoration: underline;
                            }


                        }

                        ul {
                            padding: 5px 0 15px;

                            li {
                                padding: 3px 0;

                                a {
                                    font-size: 0.88em;
                                }
                            }
                        }
                    }

                    & > li {


                        & > a {
                            @include brandon-grotesque-med();
                        }
                    }
                }
            }
        }

        .info {
            width: 100%;
            border-top: 1px solid $gray5;
            display: table;
            padding: 3px 0;

            .logo,
            .text {
                width: 25%;
                display: inline-block;
                vertical-align: top;
            }

            .logo {

                a {
                    background-color: transparent;
                    background-image: url("images/web_logo_ji.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 200px;
                    height: 54px;
                    display: block;
                }
            }

            .text {
                padding: 12px 0;

                p {
                    line-height: 1.2em;
                    font-size: 0.88em;
                    text-transform: uppercase;
                }

                a {
                    display: block;
                }
            }

            .text,
            .text a {
                color: $gray-dark;
                text-decoration: none;
            }
        }
    }
}


@media only screen and (max-width: 767px) {
    body > footer {
        padding: 0 20px;

        .content {


            nav.footer-menu {
                display: block;

                div {
                    width: 100%;

                    & > ul li {
                        text-align: center;
                    }
                }
            }

            .info {
                display: block;
                text-align: center;

                .logo,
                .text {
                    width: 100%;
                }

                .logo {
                    margin: 0 auto;

                    a {
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}