body > #hurricane {
  display: block;
  width: 100%;
  background-color: #94b9af;
  color: #335f72;
  margin: 0 auto;
  text-align: center;
  max-height: 960px; }
  body > #hurricane p {
    font-family: adobe-garamond-pro, serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    padding: 10px 20px;
    line-height: 1.3em; }
  body > #hurricane a {
    color: #335f72; }
