$radikal: 'Radikal', sans-serif;
$radikal-light: 'Radikal-Light', $radikal;
$radikal-thin: 'Radikal-UltraThin', $radikal-light;
$radikal-bold: 'Radikal-Bold', $radikal;
$radikal-black: 'Radikal-Black', $radikal-bold;

$corbel: 'Corbel', sans-serif;
$corbel-i: 'Corbel-Italic', $corbel;
$corbel-bold: 'Corbel-Bold', $corbel;
$corbel-bold-i: 'Corbel-BoldItalic', $corbel-bold;