/*
a {
    color: $gold;
    text-decoration: underline;

    &:hover {
        color: darken($gold, 15);
    }
}
*
 */

#main {
    header {
        margin-bottom: 20px;
    }

    p {
        padding-bottom: 5px;
    }

    ul.products {
        li {
            a {
                text-decoration: none;
            }
        }
    }
}


h1 {
    @include brandon-grotesque-bold();
    color: $black;
    font-size: 2em;
    text-transform: uppercase;
    line-height: 1.2em;
    letter-spacing: 0.125em;
}

h3 {
    line-height: 1.2em;
}

h4, h5 {
    line-height: 1.2em;
    padding: 20px 0 10px;
}

ul {
    padding: 10px 0;

    li {
        text-indent: -0.5em;
        padding: 0 0 5px 20px;
    }
}


.widget {
    .widget-title,
    .widgettitle {
        @include brandon-grotesque-med();
        font-size: 1.3em;
        color: $gray-dark;
        letter-spacing: 0.03em;
    }
}

a:focus,
button:focus,
input:focus,
textarea:focus {
    outline: 2px solid $gold;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message,
.woocommerce-noreviews,
p.no-comments {
    background-color: $gold;

}

.form-row label {
    line-height: 1.4em;
}