#masthead {
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
    background-color: transparent;
    border-bottom: none;
}

.home #masthead {
    position: absolute;
}